<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      placeholder="search a city"
      name="city"
      [(ngModel)]="cityName"
    />
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/hot.jpg" *ngIf="weatherData.main.temp - 273 > 15" />
    <img src="../assets/cold.jpg" *ngIf="weatherData.main.temp - 273 <= 15" />

    <div class="weather-data">
      <div class="location">{{ weatherData.name }}</div>
      <div class="temperature">
        {{ weatherData.main.temp - 273 | number : "1.0-0" }} °C
      </div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-infos">
      {{ weatherData.weather[0].description }},
      <span *ngIf="weatherData.timezone / 3600 < 0"
        >(GMT {{ weatherData.timezone / 3600 }})</span
      >
      <span *ngIf="weatherData.timezone / 3600 >= 0"
        >(GMT + {{ weatherData.timezone / 3600 }})</span
      >
      , {{ weatherData.sys.country }}
    </div>
    <div class="more-infos-container">
      <div class="infos-block">
        <div class="infos-block-label">
          <img src="../assets/basse-temperature.png" />
          <span>min</span>
        </div>
        <div class="infos-block-value">
          {{ weatherData.main.temp_min - 273 | number : "1.2-2" }}°C
        </div>
      </div>

      <div class="infos-block">
        <div class="infos-block-label">
          <img src="../assets/temperature.png" />
          <span>max</span>
        </div>
        <div class="infos-block-value">
          {{ weatherData.main.temp_max - 273 | number : "1.2-2" }}°C
        </div>
      </div>

      <div class="infos-block">
        <div class="infos-block-label">
          <img src="../assets/humidity.png" />
          <span>humidity</span>
        </div>
        <div class="infos-block-value">{{ weatherData.main.humidity }}%</div>
      </div>

      <div class="infos-block">
        <div class="infos-block-label">
          <img src="../assets/vent.png" />
          <span>wind</span>
        </div>
        <div class="infos-block-value">{{ weatherData.wind.speed }} km/h</div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
